@page
@model E_Wallet_Alpha.Pages.Forms.LoginModel
@{
}
<h1>Please Log in</h1>
<form method="post">
    <input type="text" placeholder="Email" asp-for="@Model.Email" value="@Model.Email"/>
    <input type="password" placeholder="Password" asp-for="@Model.Password" value="@Model.Password"/>
    <button type="submit">Log in </button>
</form>