@page
@model E_Wallet_Alpha.Pages.Forms.LoginModel
@{
}
<h1>Please Log in :)</h1>
<form method="post">
    <input type="text" placeholder="Username" />
    <input type="text" placeholder="Password" />
    <button type="submit">Log in </button>
</form>