
body {
    background-color: #3fb0ef !important;
}

.wallet-container {
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,12,150,0.6)),url(../wallett-app-background.jpg);
    color: #fff;
    font-size: 15px;
    padding: 20px 20px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 320px;
}

.page-title {
    text-align:left;
}

.fa-user {
    float: right;
}
.fa-align-left {
    margin-right: 15px;
}

.amount-box img {
    width:50px;
}

.amount {
    font-size: 35px;
}

.btn-group {
    margin: 20px 0;
}
.btn-group .btn {
    margin: 8px ;
    border-radius: 20px !important;
    font-size: 15px;
}

.txn-history {
    text-align:left;
}

.txn-list {
    background-color: #fff;
    color: #777;
    padding: 12px 10px;
    font-size: 14px;
    margin: 7px 0;
}

.debit-amount {
    color: red;
    float: right;
}

.credit-amount {
    color: green;
    float: right;
}

.footer-menu {
    margin: 20px -20px 0;
    bottom: 0;
    border-top: 1px solid #ccc;
    padding: 10px 10px 0;
}

.footer-menu p {
    font-size: 12px;
}

.input_field {
    margin-bottom: 60px;
    margin-top: 25px;
}



.form-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}
.form-signin-heading {
        margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);
    &:focus {
    z-index: 2;
    }

}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}