@page
@model E_Wallet_Alpha.Pages.Shared.FooterModel
@{
}
<div class="footer-menu">
    <div class="row text-center">
        <div class="col-md-3">
            <i class="fa fa-home" aria-hidden="false"></i>
            <p>Home</p>
        </div>

        <div class="col-md-3">
            <i class="fa fa-inbox"></i>
            <p>Inbox</p>
        </div>

        <div class="col-md-3">
            <i class="fa fa-university"></i>
            <p>Bank</p>
        </div>

        <div class="col-md-3" id="logout_div">
            <i class="fa fa-sign-out"></i>
            <p>Sign Out</p>
        </div>
    </div>
</div>