@page
@model E_Wallet_Alpha.Pages.HistoryModel
@{
}
<div class="wallet-container text-center">
    <p class="page-title"><i class="fa fa-align-left"></i>Welcome @Model.LoggedInUser.Username<i class="fa fa-user" aria-hidden="true"></i></p>

    <div class="txn-history">
        <p class="history-label">History</p>
        @foreach (var transiction in Model.LoggedInUser.Transictions)
        {
            if (transiction.DidIGetMoney)
            {
                <p class="txn-list">I uploaded some money.<span class="credit-amount">+@transiction.AmountOfMoney HUF</span></p>
            }
            else
            {
                <p class="txn-list">I paid to @transiction.Receiver<span class="debit-amount">- @transiction.AmountOfMoney HUF</span></p>
            }
        }
    </div>

    <div class="footer-menu">
        <div class="row text-center">
            <div class="col-md-3" id="home_div">
                <i class="fa fa-home" aria-hidden="false"></i>
                <p>Home</p>
            </div>

            <div class="col-md-3" id="history_div">
                <i class="fa fa-inbox"></i>
                <p>Inbox</p>
            </div>

            <div class="col-md-3">
                <i class="fa fa-university"></i>
                <p>Bank</p>
            </div>

            <div class="col-md-3" id="logout_div">
                <i class="fa fa-sign-out"></i>
                <p>Sign Out</p>
            </div>
        </div>
    </div>

</div>