@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.isLoggedIn)
{
    <div class="text-center">
        <h1 class="display-4">Welcome new User, go and log in</h1>
    </div>
}
else
{
    <div class="wallet-container text-center">
        <p class="page-title"><i class="fa fa-align-left"></i>E-Wallet-App<i class="fa fa-user" aria-hidden="true"></i></p>
    </div>

}

